@import url(./common.css);
@import url(./reset.css);
@import url(./fonts.css);

/* ν—¤λ” */
.header{
    width: 23%;
    position: fixed;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: #000;
}
.header .group-wrap{
    position: relative;
}
.header .group-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 100%;
}
.header .group-bar.main{
    visibility: visible;
}
.header .group-bar.main.on{
    visibility: hidden;
}
.header .group-bar .btn-open{
    width: 14px;
}
.header .group-bar .btn-close{
    width: 13px;
}
.header .group-bar .btn-search{
    width: 16px;
    height: 16px;
}
.header .group-bar.srh{
    visibility: hidden;
}
.header .group-bar.srh.on{
    visibility: visible;
}
.header .group-bar.srh fieldset{
    border: none;
    position: relative;
    padding-bottom: 3px;
}
.header .group-bar.srh input[type="text"]::placeholder{
    font-size: 12px;
    color: #626262;
}
.header .group-bar.srh fieldset::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: #626262;
    bottom: 0;
    left: 0;
}
.header .group-bar.srh fieldset.on::after{
    animation: underline 0.5s ease-in;
}
@keyframes
underline{
    0%{width: 0%;}
    100%{width: 100%;}
}


/* nav */
.nav{
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 40px 0 20px;
    width: 23%;
    z-index: 1;
    display: none;
}
.nav.on{
    display: block;
}
.nav .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav .nav-list .nav-item{
    padding: 35px 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
}
.nav .nav-item:last-child{
    font-size: 16px;
}
/* sub-menu */
.nav .sub-menu{
    height: 0;
    overflow: hidden;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
.nav-item.product:hover .sub-menu{
    height: 220px;
}
.nav .sub-menu a{
    padding-top: 40px;
}

/* ν‘Έν„° */
.footer{
    font-family:'GmarketSans';
}
.footer .group-top{
    background-color:#D3FDD4;
    width: 100%;
    height: 50vh;
}
.footer .group-top .top-box{
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.footer .group-top .txt{
    font-family:'GmarketSansMedium'; 
    position: relative;
    display: block;
    padding-bottom: 5px;
}
.footer .group-top .txt::after{
    content: "";
    width:100%;
    height: 2px;
    background-color:black;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}
.footer .group-top img{
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
}
.footer .group-bottom{
    padding: 20px 30px;
    background: #fff;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.footer .group-bottom .title{
    font-size: 13px;

}
.footer .group-bottom .info-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .info-area .left-wrap{
    display: flex;
    gap: 20px;
}
.footer .left-wrap .title{
    padding-bottom: 10px;
}
.footer .left-wrap .link{
    padding-bottom: 5px;
}
.footer .left-wrap .service-box{
    display: flex;
    flex-direction: column;
}
.footer .left-wrap .order-box{
    display: flex;
    flex-direction: column;
}

.footer .info-area .mid-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}
.footer .mid-wrap .link{
   position: relative;
   padding-bottom: 2px;
}
.footer .mid-wrap .link::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.footer .info-area .right-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 16px;
}
.footer .right-wrap .contact{
}

.footer .group-bottom .mail-area{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.footer .mail-area .txt{}
.footer .mail-area form{
    width: 80%;
    border: 1px solid #777;
    padding: 5px;
}
.footer form input[type = "email"]{}
